* {
	text-align: center;
	box-sizing: border-box;
	color: #d4d4dc;
}

body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	background-color: #393f4d;
}

.redirect-button {
	/*cursor: pointer;*/
	color: white;
	/*#0000EE;*/
}

header {
	width: 100%;
	height: 15vh;
	background-color: #1d1e22;
	position: relative;
}

h1 {
	height: 100%;
	width: 100%;
	padding-top: 5vh;
	margin: 0;
	font-size: 1.7em;
}

.logo {
	display: inline-block;
	height: 40%;
	width: auto;
	position: absolute;
	left: 2%;
	top: 30%;
}

main {
	height: 100%;
	width: 100%;
}

section {
	height: 85vh;
	width: 100%;
	position: relative;
}

.div-login-img {
	height: 50%;
	width: 100%; 
	background-image: url("motorcycle2.jpg");
	background-size: cover;
	background-position: 70% center;
	/*filter: blur(3px);
  	-webkit-filter: blur(3px);*/
}

.div-login-form, .div-signup-form {
	position: relative;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	box-shadow: 3px 3px black;
	border-radius: 15px;
	top: -7%;
	background-color: rgba(28, 29, 33, 0.77); 
}

.div-login-form {
	height: 40vh;
}

.div-signup-form {
	height: 60vh;
}

.login-form input, .signup-form input {
	width: 60%;
	margin-bottom: 2%;
	display: block;
	margin-left: auto;
	margin-right: auto; 
	color: black;
}

.signup-form fieldset {
	border: none;
}

.signup-form legend {
	color: #feda6a;
}

.login-form button, .signup-form button {
	color: black;
} 

h3 {
	cursor: pointer;
	font-size: 1.5em;
	margin-top: 2%;
	margin-bottom: 0;
	text-align: left;
	padding-left: 4%;
	background-color: rgba(28, 29, 33, 0.90); 
}

h4 {
	margin: 0;
	background-color: rgba(28, 29, 33, 0.4);
	color: #feda6a; 
}

ul {
	list-style: none;
	padding: none;
}

